# ==== Bybit ====
bybit_api_key    = ""
bybit_api_secret = ""

# ==== База данных ====
# Файл будет создан рядом с исполняемым .exe
sqlite_path      = "hedgehog.db"
# Если хотите держать в подпапке, пишите "data/hedgehog.db"
# (каталог data/ создастся автоматически при первом запуске)

# ==== Telegram ====
telegram_token   = ""

# ==== Параметры стратегии по умолчанию ====
use_testnet = true

# Стратегия
quote_currency = "USDT"
default_volatility = 0.6 # 60 %
offset_points      = 10    # +/- 10 пунктов для лимитки Пока не используется
slippage = 0.0 # 0.0%
max_wait_secs = 30 # 30 секунд
max_allowed_leverage = 10 # 10x